/* GLOBAL no main? */

*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sombra {
  box-shadow: red 0 0 10px;
  background-color: aliceblue;
}
.destaque-texto {
  /* background-color: rgb(82, 109, 199); */
  padding: 4px;
  border-radius: 4px;
}
.centralizar {
  text-align: center;
}
.separar {
  margin: 25px auto;
}

.fundo-verde {
  background-color: rgb(131, 190, 171);
  padding: 25px;
}
